.card {
  width: 240px;

  margin: 30px auto;

  .card-wrapper {
    display: flex;
    flex-direction: column;

    @include font36();

    .card-info {
      background-color: $green;
    }

    .card-image {
      height: 240px;
      width: 240px;
    }

    .loading-card-image {
      @include font36();
      color: $green;
    }

    &.error {
      color: $red;
      text-align: center;
    }

    &.loading {
      text-align: center;
    }
  }
}
