$red: #ff0100;

.main-page-container {
  color: $red;

  @include font16();

  .small-loading-container {
    $loading-size: 30px;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: $loading-size;

    margin-bottom: 10px;

    .small-loading {
      height: $loading-size;

      margin: 0 auto;

      background-size: $loading-size $loading-size;
      background-image: url('~images/circle_loading.gif');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
